<div>
    <h1 class="text-sm-center text-md-center text-lg-center">
        {{title}}
    </h1>
</div>
<div class="container justify-content-center">
    <table id="tableProduct" class="table table-bordered">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Code</th>
            <th scope="col">Stock</th>
            <th scope="col">Category</th>
            <th scope="col">ID</th>
        </tr>
    </thead>
    
    <tbody class="tbody">
        {{#each products}}
        <tr>
            <td><img src={{this.image}} alt={{this.description}} height=100 width=100></td>
            <td>{{this.name}}</td>
            <td>{{this.price}}</td>
            <td>{{this.code}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.category}}</td>
            <td>{{this._id}}</td>
        </tr>
        {{/each}}
    </tbody>
    </table>
</div>
<div>
    <div>
        <form id="formDelete">
            <h3 class="text-sm-center text-md-center text-lg-center">Borrar producto</h3>
            <input type="text" required id="deleteProd" name="deleteProd" placeholder="Ingrese el id" />
            <input type="submit" value="Eliminar" />
        </form>
    </div>
    <div>
        <form id="addProduct" method="POST">
                <label class="form-label" style="font-weight: bold; center">Nombre</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Ingrese el nombre">
                <label class="form-label" style="font-weight: bold;">Precio</label>
                <input type="number" name="price" class="form-control" id="price">
                <label class="form-label" style="font-weight: bold;">Code</label>
                <input type="number" name="code" class="form-control" id="code">
                <label class="form-label" style="font-weight: bold;">Stock</label>
                <input type="number" name="stock" class="form-control" id="stock">
                <label class="form-label" style="font-weight: bold;">Categoria</label>
                <input type="text" name="category" class="form-control" id="category">
                <label class="form-label" style="font-weight: bold;">Descripción</label>
                <input type="text" name="description" class="form-control" id="description">
                <label class="form-label" style="font-weight: bold;">Imagen</label>
                <input type="text" name="image" class="form-control" id="image">
                <label>
                <input type="checkbox" name="status" id="status" value="true" />
                </label>
                <input type="submit" value="Cargar"/>
        </form>
    </div>
</div>
<script src="/socket.io/socket.io.min.js"></script>
<script src="static/js/realTimeProducts.js"></script>
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>